[submodule "xmarts/carpeta_compras_monpark"]
	path = xmarts/carpeta_compras_monpark
	url = git@github.com:xmarts/carpeta_compras_monpark.git
	branch = 15.0-gilacevedoxmarts

[submodule "xmarts/carpeta_reporte_inventario"]
	path = xmarts/carpeta_reporte_inventario
	url = git@github.com:xmarts/carpeta_reporte_inventario.git
	branch = 15.0-gilacevedoxmarts

[submodule "xmarts/carpeta_ventas_monopark"]
	path = xmarts/carpeta_ventas_monopark
	url = git@github.com:xmarts/carpeta_ventas_monopark.git
	branch = 15.0-gilbertoacevedoxmarts

[submodule "xmarts/formatos_monopark"]
	path = xmarts/formatos_monopark
	url = git@github.com:xmarts/formatos_monopark.git
	branch = 15.0-gilacevedoxmarts

[submodule "xmarts/mod_estructura_crm"]
	path = xmarts/mod_estructura_crm
	url = git@github.com:xmarts/mod_estructura_crm.git
	branch = 15.0-gilacevedoxmarts

[submodule "xmarts/office-supplies"]
	path = xmarts/office-supplies
	url = git@github.com:xmarts/office-supplies.git
	branch = 15.0

[submodule "xmarts/signature-on-purchase-order"]
	path = xmarts/signature-on-purchase-order
	url = git@github.com:xmarts/signature-on-purchase-order.git
	branch = 15.0

[submodule "xmarts/uuid-provider-invoice"]
	path = xmarts/uuid-provider-invoice
	url = git@github.com:xmarts/uuid-provider-invoice.git
	branch = 15.0

[submodule "xmarts/purchase-discount"]
	path = xmarts/purchase-discount
	url = git@github.com:xmarts/purchase-discount.git
	branch = 15.0
